<ion-header>
  <ion-navbar color="white">
    <ion-buttons start left>
      <button color="black" ion-button icon-only>
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
    
    <ion-title style="border: 1px solid #ccc" (click)="scrollToTop()">Pansitan</ion-title>

    <ion-buttons end right>
      <button color="black" ion-button icon-only (click)="goMessages()">
        <ion-icon name="paper-plane"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- Story line 
  <ion-scroll class="story" scrollX="true">
    <div class="story_scroll" *ngFor="let s of stories">
      <div class="story_img_bg">
      <img no-margin no-padding class="story_img" [src]="s.img"></div>
      <p no-margin no-padding text-center class="story_text">{{ s.user_name }}</p>
    </div>
  </ion-scroll>
  <div (swipe)="swipePage($event)">
-->
  <hr no-margin no-padding>
  <div>

    <!-- Cards -->
    <ion-card no-padding padding-bottom no-margin class="card"  *ngFor="let post of posts; let x = index" >

      <ion-row>
        <ion-col col-10>
          <ion-item style="padding-left:0px;">
        <ion-avatar item-left>
          <img src="http://ionicframework.com/dist/preview-app/www/assets/img/sarah-avatar.png.jpeg">
        </ion-avatar>
        <h2 style="font-weight: bold">{{ post.account.name }}</h2>
        <p *ngIf="post.pansitan.name!=null">{{ post.pansitan.name }}</p>
        
      </ion-item>
        </ion-col >
        <ion-col col-2>
          <button no-margin no-padding clear color="black" ion-button icon-only style="float: right; top: 15px" (click)="presentPostPopover()">
            <ion-icon name="more"></ion-icon>
        </button>
        </ion-col>
      </ion-row>
      

        <ion-slides>

        <ion-slide   *ngFor="let p of post.images; let i = index">
            <img src="{{ global.site }}uploads/posts/{{ p.imageid }}.jpg" (tap)="tapPhotoLike(post.postid,x)"/>
            <p>{{ i + 1 }}/{{ post.images.length }}</p>
        </ion-slide>

    </ion-slides>
      <p no-margin no-padding>
        <button clear ion-button icon-only (click)="likeButton(post.postid,x)" class="like-btn">
          <ion-icon no-padding [name]="post.heart" color="{{ post.color }}" class="icon-space"></ion-icon>
        </button>{{postheart(x)}}
        <button clear ion-button icon-only>
          <ion-icon no-padding isActive="false" color="black" name="ios-text-outline" class="icon-space" style="font-weight: bold"></ion-icon>
        </button>
        <button clear ion-button icon-only>
          <ion-icon no-padding isActive="false" color="black" name="paper-plane" class="icon-space"></ion-icon>
        </button>
        <button no-margin no-padding clear color="black" ion-button icon-only style="float: right">
          <ion-icon name="ios-bookmark-outline"></ion-icon>
        </button>
      </p>
      <hr>

      <ion-card-content>
        <p class="like-content" *ngIf = "post.like == null;"><ion-icon name="heart"></ion-icon> 0 likes</p>
        <p class="like-content" *ngIf = "post.like != null;"><ion-icon name="heart"></ion-icon> {{post.like.length}} likes</p>
        <p><b>post.account.name</b> {{ post.descript }}</p>
      
        <ion-note style="font-size: 12px">
          {{ process(post.timestamp)  }}
        </ion-note>
      </ion-card-content>

    </ion-card>
    <button ion-button block outline  style="width: 100%;" (click)="seemore()">See More</button>
  </div>


     <ion-fab style="right: 3px !important;bottom: 3px !important">
        <button ion-fab item-right style="right: 0;" (click) = "reset()"><ion-icon name="md-refresh"></ion-icon></button>
     </ion-fab>
</ion-content>
