<ion-header>
    <ion-navbar color="primary">
        <ion-title>Nasingngo ba Pansi?</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <multi-image-upload></multi-image-upload>
    <button ion-button block (click)="submit()" *ngIf="!multiImageUpload.isUploading && !uploadFinished">
        <ion-icon name="checkmark"></ion-icon>
        Upload
    </button>
    <button ion-button block (click)="cancel()" color="danger" *ngIf="multiImageUpload.isUploading && !uploadFinished">
        <ion-icon name="close"></ion-icon>
        Cancel
    </button>
    <p style="text-align: center;" *ngIf="uploadFinished">Tap <ion-icon name="aperture"> to Post again</ion-icon></p>
</ion-content>